configuration{
  modes: [combi];
  modi: [combi];
  font: "JetBrainsMonoNerdFontMono 12";
  combi-modi: [window, drun, ssh];
  show-icons: true;
}

//@theme "/usr/share/rofi/themes/rounded-green-dark.rasi"

@theme "/usr/share/rofi/themes/catppuccin-lavrent-mocha.rasi"
